#simulator #zone_simu {
    position: absolute;
    background: rgb(255, 255, 255);
    top: 90px;
    right: 600px;
}

#simulator #image_simu {
    width: 100px;
}

#canvas {
	position : absolute;
	background: rgb(255,255,255);
	top: 270px;
	right :	500px;
	width : 300px;
	
}

#in {

	position: absolute;
	top: 200px;
	right :	530px;
	

}

#canvas2 {
	position: absolute;
	background: rgb(255,255,255);
	top: 30px;
    right: 90px;
}

#canvas3 {
	position: absolute;
	background: rgb(255,255,255);
	top : 420px;
	right: 10px;
	width: 400px;
}


#ok {
	position : absolute;
	top : 200px;
	right: 500px;
}